$bg-color-dark: #640000;
$bg-color-main: #F41436;
$bg-color-bright: #FF5A73;
$border-color: #24695C;
$text-color-dark: #28293D;
$text-color-bright: #ffffff;
$text-color-auxiliary: #8F90A6;
$line: #C7C9D9;
$icon-main: #F41436;
$icon-aux1: #C7C9D9;
$icon-aux2: #8F90A6;
$input-dis-1: #F5F6FA;
$input-dis-2: #C7C9D9;

